# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# OS files
Thumbs.db

# Ignore all files in Output and Data (keep folders)
Output/*
Data/*

# Allow folder structure to be tracked
!Output/.gitkeep
!Data/.gitkeep

# Other project-specific ignores
Reports/



#*Output*
#*Trends_*
#*Diagram_*
#*TagTable*
#*Biomass_Estimation_ReportCard*
#*Migrants*
*Decisions_History*
